<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/teayudo2049/image/upload/v1633108647/my_profile2_z2k2dp.jpg);">
</div>
<div class="container mt-5">
  <h2>Editar Servicio</h2>


  <%= render 'shared/form' %>

</div>
<%= render 'shared/mini-footer' %>
