<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/teayudo2049/image/upload/v1632948666/banner_logo_2_mse9ja.jpg);">
  <div class="container mt-5">
  <h2>Editar Servicio</h2>


  <%= render 'shared/form' %>

</div>

<%= render 'shared/mini-footer' %>
