.carousel-inner img {
    width: 100%;
    margin: auto;
    max-height: 350px;


    &:carousel-inner{
      height: 200px;
    }

    &:h5 {
        font-weight: bold;
        font-size: 30px;
        text-shadow: 80;
    }
}    
