.carousel-inner .carousel-item img {
  width: 100%;
  margin: auto;
  max-height: 850px;
  // background-position: center;
  // background-size: cover;
  // background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5));

  &:carousel-inner {
    height: 200px;
  }
}  

.carousel-caption {
  h5 {
    font-weight: bold;
    font-size: 40px;
    text-shadow: 3px 1px #000000;
  }

  p {
    font-size: 20px;
    text-shadow: 2px 1px #000000;
  }
}

.profile-card {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  cursor: pointer;
  padding: 17px 7px;

  .profile-name {
  font-weight: bold;
  color: #21304e;
  }


  img {
    width: 100px;
    height: 100px;
  }

  .profile-description {
  font-size: 13px;
  color: #777;
  padding: 5px;
  }

  &:hover img {
    transform: scale(1.1);
  }
}
