<section>
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-sm-6 col-lg-4">
        <div class="card-flip">
          <div class="flip">
            <div class="card">
              <div class="front">
                <img src="https://dwj199mwkel52.cloudfront.net/assets/lewagon-logo-square-b6124eb974be375884558e4464efce48a9b5664f18422768156364363ecdd1fc.png" style="height: 100px; width: 100px; display: block; margin: auto;">
                <div class="card-block">
                  <h4 class="card-title text-center">Le Wagon</h4>
                </div>
              </div>
            </div>
            <div class="back text-center">  
              <h4><strong>The Best Bootcamp</strong></h4>
              <a href="https://www.lewagon.com" class="link-primary">Enlace</a>             
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card-flip">
          <div class="flip">
            <div class="card">
              <div class="front">
                <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQEYizzCiA9h9g/company-logo_200_200/0/1582641272243?e=2159024400&v=beta&t=-pDm5jMBPcj32-81TlF_Al6NnWg8mHZt3eoKEzrofyc" style="height: 100px; width: 100px; display: block; margin: auto;">
                <div class="card-block">
                  <h4 class="card-title text-center">Santo Tomás</h4>
                </div>
              </div>
            </div>
            <div class="back text-center">  
              <h4><strong>U. Santo Tomás</strong></h4>
              <a href="https://www.santotomas.cl" class="link-primary">Enlace</a>             
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card-flip">
          <div class="flip">
            <div class="card">
              <div class="front">
                <img src="https://sumarcapacitacion.cl/wp-content/uploads/2016/01/logo-sence.gif" style="height: 100px; width: 100px; display: block; margin: auto;">
                <div class="card-block">
                  <h4 class="card-title text-center">Sence</h4>
                </div>
              </div>
            </div>
            <div class="back text-center">  
              <h4><strong>Programas y Subsidios</strong></h4>
              <a href="https://www.sence.cl" class="link-primary">Enlace</a>             
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card-flip">
          <div class="flip">
            <div class="card">
              <div class="front">
                <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQGIgFfIB4L2vQ/company-logo_200_200/0/1555437741703?e=2159024400&v=beta&t=50eWQpw0AVswLddGZTlW9y6fXFjzt5O7vUyasQ5dEGA" style="height: 100px; width: 100px; display: block; margin: auto;">
                <div class="card-block">
                  <h4 class="card-title text-center">talento Digital</h4>
                </div>
              </div>
            </div>
            <div class="back text-center">  
              <h4><strong>Potenciamos tu talento</strong></h4>
              <a href="https://www.talentodigitalparachile.cl" class="link-primary">Enlace</a>             
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card-flip">
          <div class="flip">
            <div class="card">
              <div class="front">
                <img src="https://regaloslamour.cl/wp-content/uploads/2021/02/logo-footer-200x200.png" style="height: 100px; width: 100px; display: block; margin: auto;">
                <div class="card-block">
                  <h4 class="card-title text-center">L'mour</h4>
                </div>
              </div>
            </div>
            <div class="back text-center">  
              <h4><strong>Regalos y Flores</strong></h4>
              <a href="https://www.regaloslamour.cl" class="link-primary">Enlace</a>             
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="card-flip">
          <div class="flip">
            <div class="card">
              <div class="front">
                <img src="https://i.ibb.co/1r8P28r/IMG-20210925-WA0003.jpg" style="height: 100px; width: 100px; display: block; margin: auto;">
                <div class="card-block">
                  <h4 class="card-title text-center">Grupo Digital</h4>
                </div>
              </div>
            </div>
            <div class="back text-center">  
              <h4><strong>Servicios graficos</strong></h4>
              <a href="https://www.instagram.com/gyg.impresores?utm_medium=copy_link" class="link-primary">Enlacel</a>             
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
document.querySelector(".card-flip").classList.toggle("flip");

/* 
 * Holder.js for demo image
 * Just for demo purpose
 */
Holder.addTheme('gray', {
  bg: '#777',
  fg: 'rgba(255,255,255,.75)',
  font: 'Helvetica',
  fontweight: 'normal'
});

</script>