<div class="container card-home">
    <div class="row aligne-content-center">
        <div class="col-sm-6  col-md-3">
            <div class="box">
                <img src="https://dwj199mwkel52.cloudfront.net/assets/lewagon-logo-square-b6124eb974be375884558e4464efce48a9b5664f18422768156364363ecdd1fc.png">
                <div class="box-content">
                    <h3 class="title">Le Wagon</h3>
                    <li><a href="www.lewagon.com"><i class="fa fa-link"></i>link</a></li>
                </div>
            </div>
        </div>
        <div class="col-sm-6  col-md-3">
            <div class="box">
                <img src="https://sumarcapacitacion.cl/wp-content/uploads/2016/01/logo-sence.gif">
                <div class="box-content">
                    <h3 class="title">Sence</h3>
                    <li><a href="www.sence.cl"><i class="fa fa-link"></i>link</a></li>
                </div>
            </div>
        </div>
        <div class="col-sm-6  col-md-3">
            <div class="box">
                <img src="https://media-exp1.licdn.com/dms/image/C4D0BAQEYizzCiA9h9g/company-logo_200_200/0/1582641272243?e=2159024400&v=beta&t=-pDm5jMBPcj32-81TlF_Al6NnWg8mHZt3eoKEzrofyc">
                <div class="box-content">
                    <h3 class="title">Santo Tomas</h3>
                    <li><a href="www.santotomas.cl"><i class="fa fa-link"></i>link</a></li>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container card-home">
    <div class="row aligne-content-center">
        <div class="col-sm-6  col-md-3">
            <div class="box">
                <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQGIgFfIB4L2vQ/company-logo_200_200/0/1555437741703?e=2159024400&v=beta&t=50eWQpw0AVswLddGZTlW9y6fXFjzt5O7vUyasQ5dEGA">
                <div class="box-content">
                    <h3 class="title">Talento Digital</h3>
                    <li><a href="www.talentodigitalparachile.cl"><i class="fa fa-link"></i>link</a></li>
                </div>
            </div>
        </div>
        <div class="col-sm-6  col-md-3">
            <div class="box">
                <img src="https://regaloslamour.cl/wp-content/uploads/2021/02/logo-footer-200x200.png">
                <div class="box-content">
                    <h3 class="title">L'mour</h3>
                    <li><a href="www.relagoslamour.cl"><i class="fa fa-link"></i>link</a></li>
                </div>
            </div>
        </div>
        <div class="col-sm-6  col-md-3">
            <div class="box">
                <img src="https://bci-cdn.azureedge.net/uploads/30d55611-8724-4efa-abf2-b1820cc7026a/original/logoBci.svg">
                <div class="box-content">
                    <h3 class="title">Bci</h3>
                    <li><a href="www.bci.cl"><i class="fa fa-link"></i>link</a></li>
                </div>
            </div>
        </div>
    </div>
</div> 