<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/teayudo2049/image/upload/v1631037855/andrew-neel-cckf4TsHAuw-unsplash_fapbzx.jpg);">
  <div class="container">
    <h1>Te ayudo <strong>a digitalizarte</strong> y <strong>fortalecer tu negocio</strong>!</h1>
    <p>Te acompañamos en el proceso</p>
   <%= link_to 'Ver los servicios', services_path, class:"btn btn-primary"%>
  </div>
</div>
