<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/teayudo2049/image/upload/v1631069304/index_-logo_zgcqfq.jpg);">
  <div class="container">
    <h1>Te ayudo <strong>a encontrar las personas indicadas</strong> para <strong>fortalecer tu negocio</strong></h1>
    <p>Y te acompañamos en el proceso</p>
   <%= link_to 'Ver los servicios', services_path, class:"btn btn-primary"%>
  </div>
</div>
