.delete-btn{
    width: 100%;
    background-color: #FF5C58;
    border-radius: 4px;
    border: white 1px solid;
}
.edit-btn{
    width: 100%;
    background-color: #FF5C58;
    border-radius: 4px;
    border: white 1px solid;
}
.edit-btn:hover{
    background-color: #FE8F8F;
    color: white;
    text-decoration: none;
    border: white 1px solid;
}
.delete-btn:hover{
    background-color: #FE8F8F;
    color: white;
    text-decoration: none;
    border: white 1px solid;
}

.new-user-btn{
    width: 13.5%;
    background-color: #FF5C58;
    border-radius: 4px;
    border: white 1px solid;
}
.new-user-btn:hover{
    background-color: #FE8F8F;
    color: white;
    text-decoration: none;
    border: white 1px solid;
}

.edit-btn-show{
    width: 30%;
    background-color: #FF5C58;
    border-radius: 4px;
    border: white 1px solid;
}
.edit-btn-show:hover{
    background-color: #FE8F8F;
    color: white;
    text-decoration: none;
    border: white 1px solid;
}

.btn-search-teayudo{
    background-color: #FF5C58;
    color: white;
    text-decoration: none;
    border: white 1px solid;
    border-radius: 4px;
}

.form-search{
    border-radius: 4px;
}