.delete-btn{
    width: 100%;
    background-color: #FF5C58;
    border-radius: 4px;
    border: white 1px solid;
}
.edit-btn{
    width: 100%;
    background-color: #FF5C58;
    border-radius: 4px;
    border: white 1px solid;
}
.edit-btn:hover{
    background-color: #FE8F8F;
    color: white;
    text-decoration: none;
    border: white 1px solid;
}
.delete-btn:hover{
    background-color: #FE8F8F;
    color: white;
    text-decoration: none;
    border: white 1px solid;
}

.new-user-btn{
    width: 13.5%;
    background-color: #FF5C58;
    border-radius: 4px;
    border: white 1px solid;
}
.new-user-btn:hover{
    background-color: #FE8F8F;
    color: white;
    text-decoration: none;
    border: white 1px solid;
}

.edit-btn-show{
    width: 30%;
    background-color: #FF5C58;
    border-radius: 4px;
    border: white 1px solid;
}
.edit-btn-show:hover{
    background-color: #FE8F8F;
    color: white;
    text-decoration: none;
    border: white 1px solid;
}

.btn-search-teayudo{
    background-color: #FF5C58;
    color: white;
    text-decoration: none;
    border: white 1px solid;
    border-radius: 4px;
}

.btn-search-teayudo:hover{
    background-color: #FE8F8F;
    border: none;
}

.form-search{
    border-radius: 4px;
}

.form-search:hover{
    background-color: #FF5C58;
}

.btn-accesos{
    color: white;
    text-decoration: none;
}

.btn-accesos:hover{
    color: #FF5C58;
    text-decoration: none;
}

.nombre-acceso{
    color: #FF5C58;
}

.dar-de-baja{
    color: red;
    text-decoration: none;
}

.dar-de-baja:hover{
    color: #424c71;
    text-decoration: none;
}