.card-product {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.card-product-misdatos {
  overflow: hidden;
  height: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.card-product-fotomisdatos {
  overflow: hidden;
  background: white;
  display: flex;
  padding: 0;
}
.card-product-fotomisdatos img{
  width:70%;
  margin: 0 auto;
  border-radius: 50%;

}

.card-product img {
  height: 140%;
  width: 140px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 10px;
}

.container {
  padding: 2px 16px;
}

.card-product-foto {
  height: 170px;
}

.dropdown-item-one {
  color: #E67E22;
  font-size: 13px;
}

.dropdown-item-box {
  border-radius: 3px;
  border-color: #E67E22;
}  
  
.photo-mi-servicio {
  margin: 13px 10px 28px;
} 