.card-flip {
	perspective: 1000px;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	&:hover .flip,
	&.hover .flip {
	  transform: rotateY(180deg);
	}
}
  
.card-flip {
  width: 230px;
  height: 150px;
  margin-top: 5px;
  margin-bottom: 7px;
}
.front {
  width: 190px;
  height: 140px;
  padding-top: 15px;
  padding-left: 20px;
  background-color: white;
  h4 {
	font-size: 16px;
	text-align: center;
  }
}
.back {
  width: 230px;
  height: 150px;
}

.flip {
transition: 0.6s;
transform-style: preserve-3d;
position: relative;
}

.front {
  width: 210px;
  height: 150px;
  padding-bottom: 15px;
}
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 188, 4);
  align-items: center;
  h4 {
	color: white;
	padding: 30px;
  }
  a {
	color: white;
  }

}

.front {
z-index: 2;
transform: rotateY(0deg);
}

.back {
transform: rotateY(180deg);
}