.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: #343A40;
}
  

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand img {
  width: 40px;
}

.item-active {
  color: white;
  
}
.color-white{
  color: white;
  border-color: white;
}